# OpenClaw Gateway
OPENAI_BASE_URL=https://v2.aicodee.com
OPENAI_API_KEY=
OPENAI_MODEL=MiniMax-M2.7-highspeed

# 路径
AUDIO_ZIP_DIR=~/Library/Mobile Documents/com~apple~CloudDocs/Downloads/audio/audio_zip
AUDIO_FILE_DIR=~/Library/Mobile Documents/com~apple~CloudDocs/Downloads/audio/audio_file
TRANSCRIPT_DIR=~/Library/Mobile Documents/com~apple~CloudDocs/Downloads/audio/audio_file/transcript
DONE_DIR=~/Library/Mobile Documents/com~apple~CloudDocs/Downloads/audio/audio_zip_done

# Whisper
WHISPER_MODEL=mobiuslabsgmbh/faster-whisper-large-v3-turbo
WHISPER_DEVICE=auto
WHISPER_LANGUAGE=zh
